black==19.3b0
isort==4.3.21
fvcore
flake8
matplotlib~=3.3.3
numpy~=1.19.5
opencv-python==4.2.0.34
parameterized~=0.8.1
setuptools~=51.3.3
simplejson~=3.17.2
yacs~=0.1.8

iopath~=0.1.2
torch~=1.7.1
Pillow~=8.1.0
